<%= form_for(@species) do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :latin_name %>
    <%= form.text_field :latin_name %>
  </p>
  <p>
    <%= form.label :no_of_legs %>
    <%= form.text_field :no_of_legs %>
  </p>

  <%= form.submit %>
<% end %>

